<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keyword" content="" />
    <meta http-equiv="refresh" content="1;url={{.URL}}" />
    <meta property="og:title" content="{{.Title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{.Description}}" />
    <meta property="og:site_name" content="{{.Title}}" />
    <meta property="og:url" content="{{.URL}}" />
    <meta property="og:image" content="{{.Image}}" />
  </head>
  <body></body>
</html>
