<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{.Description}}" />
    <meta http-equiv="refresh" content="1;url={{.URL}}" />

    <meta property="og:url" content="{{.URL}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{.Title}}" />
    <meta property="og:description" content="{{.Description}}" />
    <meta property="og:image" content="{{.Image}}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{.URL}}" />
    <meta name="twitter:title" content="{{.Title}}" />
    <meta name="twitter:description" content="{{.Description}}" />
    <meta name="twitter:image" content="{{.Image}}" />
  </head>
  <body></body>
</html>
